
.celulares-inteligentes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40rem;
    border-radius: 2rem;

    .celulares {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0.1rem;
        margin-right: 2rem;

        .img-celular1,
        .img-celular2,
        .img-celular3{
            @extend img-producto;
        }
    }
}

.celulares-inteligentes2 {
    display: flex;
    flex-direction: row;
    height: 40rem;
    border-radius: 2rem;
    margin-bottom: 0.2rem;
    justify-content: center;

    .celulares{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0.1rem;
        margin-right: 2rem;
    }

        .img-celular4,
        .img-celular5,
        .img-celular6{
            @extend img-producto;
        }
}

