@import "../base/_reset.scss";

h1 {
    text-align: center;
    font-size: 5rem;
    padding-top: 1rem;
    margin-bottom: 1rem;
    color: whitesmoke;
    text-decoration: underline;
}
        a {
            display: block;
            color: #1C1C1E;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;

            &:hover {
                color: white;
            }
        }

        .search {
            display: flex;
            align-items: center;
            justify-content: center;

            input[type="text"] {
                padding: 6px;
                margin: 0 6px;
                border-radius: 4px;
                border: none;
                border: solid #283593 0.2rem;
                text-align: center;
            }

            button[type="submit"] {
                background-color: white;
                color: black;
                border: none;
                border-radius: 4px;
                padding: 6px 10px;
                cursor: pointer;
                border: solid white 0.1rem;
                transition: background-color 1s ease, color white 1s ease;
                &:hover {
                    background-color: #283593;
                    border: white 0.5rem;
                    color: white;
                }
            }
        }
    


section {
    padding: 20px;

    h2 {
        font-size: 24px;
        margin-bottom: 10px;
        text-align: center;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
        margin-right: 10px;

        a {
            display: block;
            padding: 6px 12px;
            text-decoration: none;
            color: #333;
            background-color: #ddd;
            border-radius: 4px;
            transition: background-color 0.3s ease;
            border: solid black 0.1rem;

            &:hover {
                background-color: #555;
                color: #fff;
            }
        }
    }
}

.div1 {
    width: 100%;

.p-qns-somos {
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    color: white;

    .strong-smartshop{
        font-size: 2rem;
        color:#fff;
    }
}
}

.seccion-img-li {
    display: grid;
    width: 100%;
    height: 30rem;
    grid-template-rows: 1fr auto;

    .seccion-imagenes {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        gap: 1rem;

        .img-celular,
        .img-reloj,
        .img-auricular {
            width: 20rem;
            height: 20rem;
            border-radius: 10rem;
            border: double black 0.2rem;
            filter: blur(0.1rem) contrast(1rem);
        }
    }

    .secciones-li {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        text-decoration: underline;
        gap: 1rem;
        font-size: 2rem;
        
        a{
            color: #283593;
            background-color: whitesmoke;
            border: solid black 0.5rem;
            cursor: pointer;
        &:hover{ color: #041ee4; }
        }
    }
}

.img-celular-d,
.img-reloj-d,
.img-auricular-d {
    width: 20rem;
    height: 20rem;
    border: solid black 0.2rem;
    border-radius: 2rem;
    margin-left: 3rem;
    margin-top: 2rem;
    filter: blur(0.1rem) contrast(1rem) opacity(1rem);
    flex-wrap: wrap;
}


.comprar-ahora {
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 6px 10px;
    cursor: pointer;
    border: solid white 0.1rem;
}

h2 {
    text-align: center;
    color: white;
    text-decoration: underline black;
    font-size: 3rem;
}

.productos-destacados {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40rem;
    border-radius: 2rem;
    margin-bottom: 0.2rem;

    .producto {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0.1rem;
        .informacion {
            margin-top: 1rem;
            text-align: center;
            color: white;
            h3{
                font-size: 2rem;
            }
        }
        .precio-oferta {
            color: red;
            font-size: 1.3rem;
            text-decoration: underline red;
        }
        .precio-original {
            font-size: 1rem;
        span {
            text-decoration: line-through;
            margin-left: 10px;
        }
    }
    }
}

h4 {
    color: white;
}