.relojes-inteligentes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40rem;
    border-radius: 2rem;

    .relojes {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0.1rem;

        .img-reloj1 {
            width: 20rem;
            height: 20rem;
            border: solid black 0.2rem;
            border-radius: 2rem;
            margin-left: 3rem;
            margin-top: 2rem;
        }

        .img-reloj2 {
            width: 20rem;
            height: 20rem;
            border: solid black 0.2rem;
            border-radius: 2rem;
            margin-left: 3rem;
            margin-top: 2rem;
        }

        .img-reloj3 {
            width: 20rem;
            height: 20rem;
            border: solid black 0.2rem;
            border-radius: 2rem;
            margin-left: 3rem;
            margin-top: 2rem;
        }

        .img-reloj4 {
            width: 20rem;
            height: 20rem;
            border: solid black 0.2rem;
            border-radius: 2rem;
            margin-left: 3rem;
            margin-top: 2rem;
        }

        .img-reloj5 {
            width: 20rem;
            height: 20rem;
            border: solid black 0.2rem;
            border-radius: 2rem;
            margin-left: 3rem;
            margin-top: 2rem;
        }

        .img-reloj6 {
            width: 20rem;
            height: 20rem;
            border: solid black 0.2rem;
            border-radius: 2rem;
            margin-left: 3rem;
            margin-top: 2rem;
        }

        .img-reloj7 {
            width: 20rem;
            height: 20rem;
            border: solid black 0.2rem;
            border-radius: 2rem;
            margin-left: 3rem;
            margin-top: 2rem;
        }

        .img-reloj8 {
            width: 20rem;
            height: 20rem;
            border: solid black 0.2rem;
            border-radius: 2rem;
            margin-left: 3rem;
            margin-top: 2rem;
        }

        .img-reloj9 {
            width: 20rem;
            height: 20rem;
            border: solid black 0.2rem;
            border-radius: 2rem;
            margin-left: 3rem;
            margin-top: 2rem;
        }
    }
}
