.auriculares-c {
    display: flex;
    flex-direction: row;
    height: 40rem;
    border-radius: 2rem;
    margin-bottom: 0.2rem;
    justify-content: center;
}

.auriculares {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.1rem;
    margin-right: 2rem;
}

.img-auricular1, 
.img-auricular2, 
.img-auricular3, 
.img-auricular4,
.img-auricular5,
.img-auricular6 {
    @extend img-producto;
}
