.relojes-inteligentes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40rem;
    border-radius: 2rem;
    }
    
    .relojes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.1rem;
    margin-right: 2rem;
    }
    
    .img-reloj1,
    .img-reloj2,
    .img-reloj3,
    .img-reloj4,
    .img-reloj5,
    .img-reloj6,
    .img-reloj7,
    .img-reloj8,
    .img-reloj9 {
        @extend img-producto;
    }
    
    .informacion {
    color: white;
    text-align: center;
    }
    
    .informacion h3 {
    font-size: 1.5rem;
    }
    
    .informacion .precio-oferta,
    .informacion .precio-original {
    font-size: 1rem;
    }