.comprar-ahora{
    background-color: black;
    border-radius: 4px;
    padding: 6px 10px;
    cursor: pointer;
    border: solid white 0.1rem;

    a{
        color: white;
        height: auto;
        padding: 0;
    }
}